*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: #5c6062;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: black;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 700px) {
    #main {
        flex-direction: column;
    }

    #section {
        height: 50% !important;
        width: 100% !important;
    }

    #aside {
        height: 50% !important;
        width: 100% !important;
    }

    h1{
        font-size: 20px !important;
    }

    h1:hover {
        transition: 0.2s !important;
        letter-spacing: 0.9em !important;
        color: gray !important;
    }
}